{% load static %}

<head>
  <link rel="stylesheet" href="{% static "main.css" %}">

</head>
{% block content %}
<br><br><br>
<div class="form">
  <form method="post" class="login-form form1">
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field }}

      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}

    {% endfor %}
  <input type="checkbox" onclick="myFunction()" style="float: left" id="show">

    <button type="submit" class="loginpage-loginbutton">Sign up</button>
    <p class="message">Already registered? <a href="{% url 'login' %}">Login Here</a></p>
    <br>
  </form>
</div>
    <script>
function myFunction() {
    var x = document.getElementById("pass1");
    var x1 = document.getElementById("pass2");

    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
    if (x1.type === "password") {
        x1.type = "text";
    } else {
        x1.type = "password";
    }
}
</script>

{% endblock %}