<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nursery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% block head %}

    {% endblock head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" target="_self">Nursery</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {#                    <li><a href="/admin/pages">Pages</a></li>#}
                {#                    <li><a href="/admin/categories">Categories</a></li>#}
                {#                    <li><a href="/admin/products">Products</a></li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.username %}
                    <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout </button>

                    </form>
                    </li>
                    <li>
                        <a href="{% url 'nursery:shopping_cart' %}"> <i class="fa fa-shopping-cart" style="font-size:24px;color: white">My Cart</i></a>

                    </li>
                    <li>
                        <button class="btn btn-primary">{{ request.user.username }}</button>
                    </li>
                {%  else %}
                    <li><a href="/accounts/login" class="btn btn-primary">Login</a></li>
                    <li><a href="/accounts/signup" class="btn btn-primary">Signup</a></li>

                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block content %}


{% endblock content %}
</body>